body{
    background-image: url(./img/2651.jpg);
    background-size: 100%;
    font-size: 18px;
}
#d1{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgb(202, 202, 202);
    width: 80%;
    padding-top:25px; 
    padding-bottom:25px;
    border: 1px solid rgb(248, 255, 143);
    background-color: rgb(235, 235, 235);
    display: flex;
}
#photo{
    width: 100%;
    height: auto;
}

#d2{
    float: left;
    border: 0px solid #000000; 
    align-self: left;
    width: 25%;
    margin-left: 1%;
}

#d3{
    float: right;
    border: 0px solid #000000; 
    width: 70%;
    margin-left: 2.5%;
}

#p1{
    font-size: 100%;
}

.parag{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indigo;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
b{
    color: darkred;
}
.im{
    height: 20px;
    width: auto;
}

#idsp2{
    font-size: 18px;
}